.vscode/
.idea/
.DS_Store
*.log
*.tsbuildinfo
.env
.env.local
.env.*.local

node_modules/
dist/
web-build/
.expo/
.git_backup_local/

mobile/node_modules/
mobile/dist/
mobile/.expo/
mobile/web-build/
mobile/.expo-web*.log
mobile/.git_backup_local/
